body {
    background-color: white;
}

#page-wrap {
     width: 800px;
     margin: 0 auto;
}

p {
  color: black;
}

img {
  float: right;
}

.bighr {
    border: none;
    height: 5px;
    background-color: #669933;
}

