body {
    font: Arial, Helvetica, sans-serif;
    background-color: white;
}

#page-wrap {
     width: 800px;
     margin: 0 auto;
}

p {
  color: black;
}

img {
  float: right;
}

.bighr {
    border: none;
    height: 10px;
    background-color: #669933;
}

.littlehr {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
    border: none;
    height: 5px;
    background-color: #669933;
}
